MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=sortr
JWT_SECRET=change-me-super-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
OPENAI_API_KEY=openaikey
SMTP_HOST=mail.playmatesports.com
SMTP_PORT=587
SMTP_USERNAME=no-reply@playmatesports.com
SMTP_PASSWORD=password
SMTP_FROM_EMAIL=no-reply@playmatesports.com
SMTP_FROM_NAME=Sortr
FRONTEND_URL=http://localhost:3000